@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    background:fixed;
    background-color:black;
    font-family: 'Poppins', sans-serif;
    padding:30px;
}

.image{
    width:150px;
    height:150px;
    align-items: center;
    margin-left:75px;
}
.header{
    position:relative;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2rem 7%;
    background:black;
    box-shadow: linear-gradient(#ffffff , rgb(188, 8, 8));
}
  
.navl{
    flex:1;
    text-align:right;
}

.navl ul li{
    list-style:none;
    display: inline-block;
    padding: 2px 14px;
    position: relative;
}

.navl ul li a{
    color:red;
    text-decoration:none;
    font-size:25px;
}

.navl ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:red;
    display:block;
    margin:auto;
    transition:0.5s;
}

.navl ul li:hover::after{
    width:100%;
}
  
.inl{
    display:inline-block;
}
  
.logo{
    margin-right:0px;
    margin-left:42px;;
    padding:0 0;
    font-size:20px;
}

.flip-card 
{
    background-color: transparent;
    width: 275px;
    height: 250px;
    perspective: 800px;
    font-family: 'Poppins', sans-serif;
    display:inline-block;
    margin-left:100px;
    margin-right:30px;
    margin-top:70px;
    
}
  
.title 
{
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

h1{
    margin-top:100px;
    font-size:70px;
    color:red;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.image{
    padding-right: 75px;
}

.flipcards{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
}

.flip-card-inner 
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner 
{
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back 
{
    box-shadow: 0 8px 14px 0 rgba(237, 9, 9, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border:1px solid rgb(241, 243, 241);
    border-radius: 1rem;
    align-items: center;
    padding:10px;
}
  
.flip-card-front 
{
    background: linear-gradient(120deg, black 15%, rgb(238, 0, 17) 88%,
       rgb(238, 0, 17) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: rgb(192, 192, 189);
    font-family: 'Poppins', sans-serif;
}
  
.flip-card-back 
{
    background: linear-gradient(120deg, rgb(255, 255, 255) 20%, rgb(238, 178, 223) 88%,
       rgb(232, 201, 164) 40%, rgb(255, 185, 160) 78%);
    color: rgb(4, 4, 100);
    transform: rotateY(180deg);
}

.fa {
    padding: 5px;
    font-size: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover 
{
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-facebook {
    background: red;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

hr{
    margin-top: 5%;
    margin-bottom:2%;
    color:#fc466b;
}

.course{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:100;
    color:#ffffff;
    font-size: larger;
    background-image:linear-gradient(rgba(28, 29, 30, 0.7),rgba(32, 33, 34, 0.7)),url(HomeMain.jpg);
    background-repeat:round;
    background-size:auto;
    border-radius: 100px;
}



.r{
    margin-top:3%;
    display: flex;
    justify-content: center;
}
.c{
    flex-basis:75%;
    /*background: linear-gradient(#fefcfd,#000105);*/
    border-radius: 50px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:border-box;
    color:white;
}